html, body{
	margin:0px;
    padding:0px;
}
	
.navbar {
	margin-bottom: 25px;
    border-radius: 0;
}
      
.btn {
	margin:0 auto;
    display:block;
   	width: 100%;
    text-align: center;
  	margin-top: 5px;
}
    
.img-responsive {
	margin: auto;
	height:200px;
}

hr {
	border:1px solid #337ab7;
}

